.btn {
  &.fluid {
    width: 100%;
  }

  &.no-pointer {
    cursor: default;
  }

  border: none;
  transition: background-color .1s ease-in-out;
  
  cursor: pointer;


  &.dusk {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &.fog {
    background-color: rgba(255, 255, 255, 0.25);
    color: #000;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  padding: .5rem 1rem;
}