.toolbar {
    width: calc(200px - 1rem);
    float: right;
    padding: 1rem;

    background: #202225
}
.toolbar .section {
    border-top: 1px solid #494c52;
    padding-top: 10px;
    margin-top: 10px;
}
.toolbar .heading {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: block;
    font-size: 1.1rem;
    padding-bottom: 10px;
}
.toolbar .subHeading {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: .9rem;
    padding-bottom: 5px;
}
.toolbar .watermark {
    position: absolute;
    width: calc(200px - 1rem);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10px;
    text-align: right;
}
.toolbar .watermark a {
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
}