.r {
    background: #ff0000;
}
.g {
    background: #008000;
}
.b {
    background: #0000ff;
}
.w {
    background: #fff;
}
.x {
    background: #000;
}
.y {
    background: #ffff00;
}
.m {
    background: #800000;
}
.p  {
    background: #800080;
}
.tp {
    background: #6441a5;
}
.n  {
    background: #000080;
}
.dg {
    background: #006400;
}
.te {
    background: #ffd700;
}
.or {
    background: #f0e68c;
}
.pi {
    background: #daa520;
}
.gr {
    background: #00ffff;
}
.go {
    background: #008080;
}
.k {
    background: #00ced1;
}
.cy {
    background: #ffa500;
}
.do {
    background: #ff8c00;
}
.or {
    background:#ffc0cb;
}