.a {
    background: #ff0000;
}
.b {
    background: #008000;
}
.c {
    background: #0000ff;
}
.d {
    background: #fff;
}
.e {
    background: #000;
}
.f {
    background: #ffff00;
}
.g {
    background: #800000;
}
.h {
    background: #800080;
}
.i {
    background: #6441a5;
}
.j {
    background: #000080;
}
.k {
    background: #006400;
}
.l {
    background: #ffd700;
}
.m {
    background: #f0e68c;
}
.n {
    background:#daa520;
}
.o {
    background: #00ffff;
}
.p {
    background: #008080;
}
.q {
    background: #00ced1;
}
.r {
    background: #ffa500;
}
.s {
    background: #ff8c00;
}
.t {
    background: #ff4500;
}
.u {
    background: #ffc0cb;
}
.v {
    background: #ff1393;
}
.w {
    background: #ffa07a;
}
.x {
    background: #858d86;
}
.y {
    background: #4c504d;
}